{% extends "base.html" %} {% block title %}timeline{% endblock %}
{% block content %}
<h1>Timeline</h1>
<form method="POST">
    <div class = 'form-group'>
        <label for="timeline">Timeline analysis</label>
        <input
               type="hashtag"
               class="form-control"
               id="hashtag"
               name="hashtag"
               placeholder="Search for #hashtag"
        />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Find posts</button>
</form>
<div class = 'timeline'>
    {%if plot_html%}
    {{ plot_html|safe }}
    {%else%}
    {%endif%}
</div>
{% endblock %}